<div class="card rounded-6 shadow text-center" style="height:400px;width: 300px;">
    <div class="hover-overlay p-3 friend-card-bg d-flex flex-row justify-content-center ripple h-100" data-mdb-ripple-color="light" style="back">
        <div class="d-flex rounded-circle w-50 bg-light">
            <span class="fa-stack fa-5x">
                <i class="fa-solid fa-user fa fa-stack-1x" style="color: <%= user.color %>;" alt="User"
                    loading="lazy"></i>
            </span>
        </div>
    </div>
    <div class="card-body rounded-bottom bg-dark text-light">
        <h5 class="card-title"><%= user.name %></h5>
        <p><%= user.username %></p>
        <p>Books started: <%= user.bookCount %></p>
        <p>Friends: <%= user.numFriends %></p>
        <form>
            <input hidden value="<%= user._id %>" />
            <button type="submit" class="btn btn-secondary">
                Send Friend Request
            </button>
        </form>
    </div>
</div>