<div class="m-2 card rounded-6 shadow text-center" style="height:300px;width: 290px;">
    <div class="hover-overlay p-3 friend-card-bg d-flex flex-row justify-content-center ripple h-150"
        data-mdb-ripple-color="light" style="background-color: black;">
        <div class="d-flex rounded-circle bg-light" style="width: 20%;">
            <span class="fa-stack fa-2x">
                <i class="fa-solid fa-user fa fa-stack-1x" style="color: <%= request.from.color %>;" alt="User"
                    loading="lazy"></i>
            </span>
        </div>
    </div>
    <div class="card-body rounded-bottom bg-dark text-light">
        <h5 class="card-title"><%= request.from.name %>
            <% if (request.new()) { %>
            <span class="ms-3 badge bg-primary">Recent</span>
            <% } %></h5>
        <p><%= request.from.username %></p>
        <p>Sent: <%= request.sent.toLocaleDateString('en-US') %></p>
        <div class="d-flex flex-row justify-content-evenly">
            <form>
                <input hidden name="request_id" value="<%= request.from.id %>" />
                <button type="submit" class="btn btn-success">
                    Accept
                </button>
            </form>
            <form>
                <input hidden name="request_id" value="<%= request.from.id %>" />
                <button type="submit" class="btn btn-danger">
                    Reject
                </button>
            </form>
        </div>
    </div>
</div>