<div
  class="card rounded-6 shadow text-center"
  style="height: 400px; width: 300px"
>
  <div class="bg-image ripple" data-mdb-ripple-color="light">
    <img
      src="https://mdbcdn.b-cdn.net/img/new/standard/nature/111.webp"
      class="img-fluid"
    />
    <a href="/profile/<%= potentialUser._id %>">
      <div class="d-flex flex-column justify-content-center align-items-center mask" style="background-color: rgba(251, 251, 251, 0.15)">
        <span
          style="
            height: 100px;
            width: 100px;
            background-color: rgb(252, 243, 221);
            border-radius: 50%;
            display: inline-block;
          "
          class="d-flex flex-column justify-content-center align-items-center"
        ><i
        class="fa-solid fa-user fa fa-3x"
        style="color: <%= potentialUser.color %>"
        alt="User"
        loading="lazy"
      ></i></span>
      </div>
    </a>
  </div>
  <div class="card-body rounded-bottom bg-dark text-light">
    <h5 class="card-title"><%= potentialUser.name %></h5>
    <p><%= potentialUser.username %></p>
    <p>Books started: <%= potentialUser.bookCount %></p>
    <p>Friends: <%= potentialUser.numFriends %></p>
    <% if (user.outgoingRequests.includes(String(potentialUser._id))) { %>
    <a class="btn btn-success" href="/notifications">Check Request Status</a>
    <% } else if (incoming.includes(String(potentialUser._id))) { %>
    <a class="btn btn-primary" href="/notifications">View Request</a>
    <% } else { %>
    <form action="/requestfriend" method="post">
      <input hidden name="request_id" value="<%= potentialUser._id %>" />
      <button type="submit" class="btn btn-secondary">
        Send Friend Request
      </button>
    </form>
    <% } %>
  </div>
</div>
