<div class="container py-5">
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div
          class="card-body text-center d-flex flex-column align-items-center"
        >
          <span
            style="
              height: 200px;
              width: 200px;
              border-radius: 50%;
              display: inline-block;
            "
            class="d-flex flex-column justify-content-center align-items-center"
            ><i
              class="fa-solid fa-user fa fa-7x"
              style="color: <%= userProfile.color %>"
              alt="User"
              loading="lazy"
            ></i
          ></span>
          <h5 class="my-3"><%= userProfile.name %></h5>
          <p class="text-muted mb-1"><%= userProfile.username %></p>
          <p class="text-muted mb-4">
            User since <%= userProfile.since.toLocaleDateString() %>
          </p>
          <div class="d-flex justify-content-center mb-2">
            <% if (user &&
            user.outgoingRequests.includes(String(userProfile._id))) { %>
            <a class="btn btn-success" href="/notifications"
              >Check Request Status</a
            >
            <% } else if (user && user._id === String(userProfile._id)) { %>
            <button disabled class="btn btn-primary">
              Wait... you can't match with yourself!
            </button>
            <% } else if (incoming.includes(String(userProfile._id))) { %>
            <a class="btn btn-primary" href="/notifications">View Request</a>
            <% } else if (user.friends.includes(String(userProfile._id))) { %>
              <button disabled class="btn btn-warning" href="/notifications">You're already friends!</button>
            <% } else { %>
            <form action="/requestfriend" method="post">
              <input hidden name="request_id" value="<%= userProfile._id %>" />
              <button type="submit" class="btn btn-secondary">
                Send Friend Request
              </button>
            </form>
            <% } %>
          </div>
        </div>
      </div>
      <div class="card mb-4 mb-lg-0">
        <div class="card-body p-0">
          <ul class="list-group list-group-flush rounded-3">
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-twitter fa-lg" style="color: #55acee"></i>
              <% if (userProfile.twitter && userProfile.twitter.length > 0) { %>
              <p class="mb-0">@<%= userProfile.twitter %></p>
              <% } else { %>
              <p class="mb-0 text-muted">None provided</p>
              <% } %>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-instagram fa-lg" style="color: #ac2bac"></i>
              <% if (userProfile.insta && userProfile.insta.length > 0) { %>
              <p class="mb-0"><%= userProfile.insta %></p>
              <% } else { %>
              <p class="mb-0 text-muted">None provided</p>
              <% } %>
            </li>
            <li
              class="list-group-item d-flex justify-content-between align-items-center p-3"
            >
              <i class="fab fa-facebook-f fa-lg" style="color: #3b5998"></i>
              <% if (userProfile.facebook && userProfile.facebook.length > 0) {
              %>
              <p class="mb-0"><%= userProfile.facebook %></p>
              <% } else { %>
              <p class="mb-0 text-muted">None provided</p>
              <% } %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Full Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= userProfile.name %></p>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0"><%= userProfile.email %></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <p class="">Content Style</p>
              <% if (Object.keys(frequencies).length) { %> <% for (const key in
              frequencies) { %>
              <p class="mb-1 mt-4" style="font-size: 0.77rem"><%= key %></p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: <%= frequencies[key] * 100 %>%"
                  aria-valuenow="<%= frequencies[key] * 100 %>"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <% } %> <% } else { %>
              <p class="text-muted">This user has no books yet!</p>
              <% } %>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card mb-4 mb-md-0">
            <div class="card-body">
              <div class="col">
                <p class="">Most Popular Public Books</p>
              </div>
              <% if (Object.keys(bookPopularity).length) { %> <% for (const key in
              bookPopularity) { %>
              <p class="mb-1 mt-4" style="font-size: 0.77rem"><%= key %></p>
              <div class="progress rounded" style="height: 5px">
                <div
                  class="progress-bar"
                  role="progressbar"
                  style="width: <%= bookPopularity[key] * 100 %>%"
                  aria-valuenow="<%= bookPopularity[key] * 100 %>"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <% } %> <% } else { %>
              <p class="text-muted">This user has no books yet!</p>
              <% } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
